app-header {
    background: orange;
    border-radius: var(--main-radius) var(--main-radius) var(--main-radius) 0;

}

app-header > header{
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-weight: 800;
    font-family: inherit;
    display: grid;
    grid-template-rows: 8vh auto;
    grid-template-areas: "title" "nav";

}

.title {
    margin-top: 0;
}

app-nav {
    grid-area: nav;
}