app-nav {
    background: orange;
    border-radius: var(--main-radius) var(--main-radius) var(--main-radius) 0;
    padding-top: var(--main-padding);
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-weight: 800;
    font-family: inherit;
}

.linkContainer {
    background-color: orange;
    overflow: hidden;
    margin-left: 40%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.linkContainer a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
}

.linkContainer a:hover {
    background-color: #f4511e;
    color: black;
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

span {
    text-align: center;
}