.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% auto;
    grid-template-rows: 23vh auto;
    grid-template-areas:
        "header header"
        "sidebar div";
    font-family: inherit;
}

div {
    grid-area: div;
    margin-top: 1%;
    display: grid;
    grid-template-rows: auto 20%;
    grid-template-columns: 75% auto;
    grid-template-areas:
            "loginForm nothing"
            "button nothing";
}

.sidebar {
    grid-area: sidebar;
}