#sidebar {
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    width: 0px;
}

#sidebar.collapsed {
    width: 400px; /* adjust the width as needed */
}

#sidebar-toggle {
    position: absolute;
    top: 0;
    left: 10px;

}